.qr-code-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px; /* Adjust padding as needed */
    z-index: 1000;
    border: 1px solid #ccc; /* Add a border if needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a box shadow for a popup effect */
    width: 400px;
    height: 350px;
    text-align: center; /* Center the content */
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  /* Add this style if you want the modal to cover the whole screen */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999; /* Ensure the overlay is behind the modal */
   
  }
  