.account-part{
    display: flex;
}
.account-right{
    width: 100%;
    padding: 10px 10px;
    background-color: rgb(245, 245, 245);
}

.account-profile{
    display: flex;
    padding-top: 20px;
}

.account-upper{
    background-color: white;
}

.account-profile-img{
    width: 120px;
    height: 80px;
   
}

.account-profile-img img{
    width: 100%;
    height: 100%;
    border-radius: 90%;
}

.account-profile-info{
    padding-left: 20px;
}

.account-right-all{
    width: 800px;
    margin: 0 auto;
}
.account-upper{
    border: 0.6px solid gainsboro;
}
.account-detail{
    padding-left: 20px;
    margin-top: 40px;
}

.account-detail p{
    line-height: 0.8;
}

.account-upper-low{
    display: flex;
    justify-content: space-between;
}

.account-detail-share{
    padding-top: 80px;
    padding-right: 20px;
}

.account-detail-share button{
    background-color: white;
    border: 1.5px solid black;
    padding: 5px;
}

.account-detail-share button:hover{
    background-color: green;
    color: white;
    border: none;
}

.account-feature{
    border: 0.6px solid gainsboro;
    margin-top: 30px;
    padding: 20px;
    background-color: white;
}

.account-feature ul{
    list-style: none;
}

.account-feature ul li{
    display: inline-block;
    padding: 30px;
}

.account-feature ul li:hover{
    border: 1px solid gainsboro;
}

.account-option{
    margin-top: 20px;
}

.account-option ul{
    list-style: none;
    padding-left: 0;
}

.account-option ul li a{
    text-decoration: none;
    color: black;
    padding-bottom: 5px;
}

.fixed-list{
    height: 45px;
   border: 1px solid gainsboro;
    padding-top: 10px;
    padding-left: 30px;
    background-color: white;
    margin-bottom: 10px;
}

.recurring-list{
        height: 45px;
        border: 1px solid gainsboro;
        padding-top: 10px;
        background-color: white;
        padding-left: 30px;
        margin-bottom: 10px;
}

.loans-list{
    height: 45px;
    border: 1px solid gainsboro;
        padding-top: 10px;
        padding-left: 30px;
        background-color: white;
}

.account-option li:hover {
    background-color: gainsboro;
  }

  .calculator-popup {
    display: none;
    /* Add styles for the popup container */
  }