/* styles.css */

/* Container styles */

  
  /* Form styles */
  .customer-service-form {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f7f7f7;
    padding: 20px;
    width: 800px; /* Adjust width as needed */
    margin: 0 auto; /* Center the form horizontally */
  }
  
  .customer-service-form div {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: calc(100% - 20px); /* Adjust width for padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="file"] {
    width: calc(100% - 20px); /* Adjust width for padding */
    padding: 10px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  