
.fd-part{
    display: flex;
   
}
.fd-right{
    width: 100%;
    padding: 10px 10px;
}

.fd-calc{
    display: flex;
    margin-top: 80px;
   
}

.fd-form{
    width: 500px;
   
}

.fd-result{
    margin-left: 60px;
}

.fd-result p{
    line-height: 0.6;
}

.fd-result-up{
    margin-bottom: 50px;
}

